<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <img src="/tarcw.jpeg">
    <h1>Friday's PMO Mini Games</h1>
    <p>I don't know how you stumbled upon this page, but welcome! I deploy and host all minigames for various Pinoy Mini ORGs (or PMO) Survivor, Big Brother, and Amazing Race games!</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    The game catalogue (so far):
    <ul>Potion Mixing Game</ul>
    <ul>Barrel Puzzle</ul>
    <ul>Memory Slide Puzzle</ul>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
    </div>
  </div>
</div>

</body>
</html>
