<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <img src="/tarcw.jpeg">
    <h1>Cocoa's Amazing Race</h1>
    <p>This is a sample Web application used for various tasks in Uycocoa's Amazing Race.</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To join the race, sign-up at <a href="www.forum.realityfanforum.com" class="alert-link">Reality Fan Forum</a> Fantasy Games Section.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>Several tasks in the race shall use this site. A common usage will be task submission (for keying time)</li>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
